/* src/App.css */
*,*::before,
::after{
  margin: 0;
  padding: 0;
  
}



body {
  font-family: 'Arial', sans-serif;
  background: 
   linear-gradient( to bottom,#1e1d1ece, #2b2b2b80),
   linear-gradient( to left,#ff00c8ce, #00fff780), 
   linear-gradient( to right,#ff00c8ce, #00fff780);
   
}